@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

body { 
    background:beige; 
    margin: 20px;
    padding: 0;
    position: relative;
    text-align: center; 
    overflow:hidden; 
    font-family: 'Signika';
}

/* navigation */

.nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(240, 240, 230);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    font-family: 'Signika';
}
.menu {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}
.nav input:checked ~ .menu {
    width: 350px;
}
.menu li {
    list-style: none;
    margin: 0 15px;
}
.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}
.menu li a:hover {
    color: #161919;
}
.nav input {
    width: 10px;
    height: 10px;
    cursor: pointer;
    opacity: 0;
}
.nav span {
    position: absolute;
    left: 13px;
    width: 20px;
    height: 4px;
    border-radius: 50px;
    background-color: #dba737;
    pointer-events: none;
    transition: 0.5s;
}
.nav input:checked ~ span {
    background-color: #e26328;
}
.nav span:nth-child(2) {
    transform: translateY(-5px);
}
.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(5px);
}
.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

/* album */

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

.wrapper {
	width: 100%;
	margin: auto;
}
div.gallery {
	margin-top: 30px;
}
div.gallery ul {
	list-style-type: none;
    margin-top: 35px;
}

/* animation */

div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}
div.gallery ul li {
	position: relative;
	float: left;
	width: 130px;
	height: 130px;
	margin: 5px;
	padding: 0;
	z-index: 0;
    transition: transform 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
div.gallery ul li:hover {
	z-index: 5;
}
div.gallery ul li img {
    display: block;
	position: relative;
	left: 0;
	top: 0;
	border: 0px solid #dddddd;
	padding: 5px;
	width: 130px;
	height: 130px;
	background: beige;
    animation: popInImg 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
    animation-delay: 500ms;
    opacity: 0;
}
@keyframes popInImg{
    0%{
      transform: skewY(5deg) scaleX(.89) scaleY(.89);
      opacity: 0;
    }
    100%{
      opacity: 1;    
    }
}
div.gallery ul li img:hover {
	width: 200px;
	height: 200px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}
p.attribution {
	font-family: 'Consolas';
	color: #000;
	clear: both;
	text-align: center;
	line-height: 25px;
	padding-top: 30px;
}
p.attribution a {
	color: #4c8d7c;
}

/* screen */

@media only screen and (max-width: 1212px) {
	.wrapper {
		width: auto;
	}
}
@media only screen and (max-width: 498px) {
	.wrapper {
		width: auto;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}